<h1>Cyclopedia - Login</h1>
<div>
  <input type="text" id="loginName" placeholder="name" />
  <input type="password" id="loginPassword" placeholder="password" />
  <button id="loginButton">Login</button>
</div>
