<h1>Cyclopedia - Sign Up</h1>
<div>
  <input type="text" id="signupName" placeholder="name" />
  <input type="password" id="signupPassword" placeholder="password" />
  <input type="password" id="signupConfirmPassword" placeholder="confirm password" />
  <button id="signupButton">Signup</button>
</div>
