<h1>Cyclopedia - Main Page</h1>

<div id="user-info">
    <h3 id="guest-greeting">Guest Users -</h3>
    <div id="preference-box">
	<% _.each(content, function (preference) { %>
	  <li>
	    <span class="setPrefClick"><%= preference.preferenceName %></span>
	  </li>
	<% }); %>
    </div>
</div>
<div id="login-box">
    <h3>Login</h3>
    <input type="text" id="loginName" placeholder="name" />
    <input type="password" id="loginPassword" placeholder="password" />
    <button id="loginButton">Login</button>
</div>
<div id="signup-box">
    <h3>Signup</h3>
    <input type="text" id="signupName" placeholder="name" />
    <input type="text" id="signupEmail" placeholder="email" />
    <input type="password" id="signupPassword" placeholder="password" />
    <input type="password" id="signupConfirmPassword" placeholder="confirm password" />
    <button id="signupButton">Signup</button>
</div>
